:host {
  background: rgb(33,33,33);
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  background: rgb(33,33,33);
  color: #ddd;
}

.message-area {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.message-box {
  margin-bottom: 10px;
}

.message {
  padding: 8px 16px;
  border-radius: 10px;
  word-wrap: break-word;
}

.user {
  margin-left: auto;
  text-align: right;
  max-width: 80%;
  width: fit-content;
  background: rgba(50, 50, 50, 0.85);
}

.assistant {
  margin-bottom: 28px;
  width: 100%;
}

.loading {
  font-size: 16px;
  color: #bbb;
  text-align: center;
  margin-top: 10px;
}

.input-bg {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  background: rgb(33,33,33);
}

.input-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: auto;
  width: 100%;
  max-width: 768px;
  background-color: rgb(48, 48, 48);
  border-radius: 20px;
  margin-bottom: 30px;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  background-color: rgb(48, 48, 48);
  color: #fff;
  outline: none;
  font-size: 16px;
}

button {
  width: 36px;
  height: 36px;
  padding: 6px;
  background-color: #fff;
  border: none;
  border-radius: 9999px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #777;
}

button:hover {
  background-color: #ddd;
}






/* 隱藏滾動條的背景，只顯示 thumb */
.message-area {
  overflow-y: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #121212; /* Firefox */
}

/* 針對 Webkit 引擎的瀏覽器（Chrome, Safari, Edge） */
.message-area::-webkit-scrollbar {
  width: 8px; /* 設置垂直滾動條的寬度 */
}

.message-area::-webkit-scrollbar-track {
  background: transparent; /* 隱藏滾動條的背景 */
}

.message-area::-webkit-scrollbar-thumb {
  background-color: #888; /* 設置滾動條的顏色 */
  border-radius: 10px; /* 可選，讓滾動條邊緣變圓 */
}

.message-area::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 滑鼠懸停時改變顏色 */
}


/** 表格 */
summary {
  user-select: none;
  cursor: pointer;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 8px;
}

/* 表格寬度要 100%，避免 header 不滿版 */
.tool-table {
  width: 100%;
  border-collapse: separate;
  margin-top: 0px;
}

/* 表頭 sticky 效果 */
.tool-table thead {
  position: sticky;
  top: 0;
  z-index: 2;
}

